@font-face{
  font-family: 'ClashGrotesk-Light';
  src: local('fonts'),
  url('./fonts/ClashGrotesk-Light.ttf');
  font-weight: light;
}

@font-face{
  font-family: 'ClashGrotesk-Medium';
  src: local('fonts'),
  url('./fonts/ClashGrotesk-Medium.ttf'); 
}

@font-face{
  font-family: 'ClashGrotesk-Normal';
  src: local('fonts'),
  url('./fonts/ClashGrotesk-Regular.ttf');
  font-weight: normal;
}

@font-face{
  font-family: 'ClashGrotesk-Bold';
  src: local('fonts'),
  url('./fonts/ClashGrotesk-Bold.ttf');
  font-weight: bolder;
}

@font-face{
  font-family: 'ClashGrotesk-ExtraLight';
  src: local('fonts'),
  url('./fonts/ClashGrotesk-Extralight.ttf');
  font-weight: bolder;
}
.mainContainer{
  height: 100vh;
  width: 100vw;  
  overflow-x: auto;  
  font-family: 'ClashGrotesk-Light, ClashGrotesk-Normal, ClashGrotesk-Bold';
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;  
}

.navbar p{
font-size: 1.5rem;
}

.Logo{
  width: 15%;
  height: auto;
  margin-left: -25px;
}

.innovateText{
  font-family: 'ClashGrotesk-Medium';

}
.constructText{
  font-family: 'ClashGrotesk-Normal';
  margin-left: 5px;
}
.transformText{
  font-family: 'ClashGrotesk-ExtraLight';
  margin-left: 5px;
}

.heroContainer{
  background-color: #09171B;
  height: 88%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}
.heroTitleContainer{
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.heroTitle{
  color: #fff;  
  font-size: 4rem;  
  font-weight: 200;
  font-family: 'ClashGrotesk-Normal';
  text-align: center;
}

.heroFooter{
  width: 100%;
  height: 25%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;
  border-style: solid;
  border-color: #fff;
  border-width: 0.8px 0 0 0;   
}

.email{
  color: #fff;
  padding-right: 100px;
  font-family: 'ClashGrotesk-Light';
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.emailAddress{
  font-family: 'ClashGrotesk-Medium';
}

@media only screen and (max-width: 576px) {
  
  .navbar{    
    padding-right: 30px;
  }
  .navbar p{
    font-size: 1rem;
    }
  .Logo{
    width: 40%;
    margin-left: -10px;    
  }
  .heroContainer{    
    height: 100%;
  }

  .heroTitle{
    color: #fff;  
    font-size: 2.5rem;  
    font-weight: 200;
    font-family: 'ClashGrotesk-Normal';
  }
  .email{    
    padding-right: 30px;    
    font-size: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  
  .navbar{    
    padding-right: 30px;
  }
  .Logo{
    width: 25%;    
  }
  .heroContainer{    
    height: 85%;
  }
  
  .email{    
    padding-right: 30px;    
    font-size: 1rem;    
  }
}