.mainContainer{
  height: 100vh;
  width: 100vw;
  padding-left: 100px;
  overflow-x: auto;  
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
}
.Logo{
  width: 15%;
  height: auto;
  margin: 0;
  padding: 0;
}

.heroContainer{
  background-color: #09171B;
  height: 88%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}
.heroTitleContainer{
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.heroTitle{
  color: #fff;  
  font-size: 4rem;  
}

.heroFooter{
  width: 100%;
  height: 25%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;
  border-style: solid;
  border-color: #fff;
  border-width: 0.8px 0 0 0;   
}

.email{
  color: #fff;
  padding-right: 100px;
}